
/*background: #f7f4f4; */
.cover {
	overflow: hidden;
	padding: 5px;
	background-color: white;
	box-shadow: inset 0 0 12px 1px #696969;
	-moz-box-shadow: inset 0 0 12px 1px #696969;
	-webkit-box-shadow: inset 0 0 12px 1px #696969;
	min-height: 605px;
	width: 800px;
	text-align: center;
	margin: 0 auto; 
}

img {
	margin: 4px;
}

/* my notebook headline */
.cover h1 {
	margin-top: 30px;
	font-family: 'GFS Didot', serif;
	font-size: 90px;
	text-align: center;
	color: #2c353d;
	text-shadow: 0px 1px 2px #fff;
}


body {
	background-image: -webkit-gradient(radial, center top, 0, center top, 425, color-stop(0, #52A1D9), color-stop(1, #0050BF));
	background-image: -moz-radial-gradient(center top, circle closest-corner, #52A1D9 0%, #0050BF 100%);
	background-image: -webkit-radial-gradient(center top, circle closest-corner, #52A1D9 0%, #0050BF 100%);
	text-align: center;
	font-family: 'Helvetica Nueue', Helvetica;
	color: #9c9c9c;
}