
/*background: #f7f4f4; */
.cover {
	margin-top: 80px;
	padding: 5px;
	background: white;
	box-shadow: inset 0 0 12px 5px #696969;
	-moz-box-shadow: inset 0 0 12px 5px #696969;
	-webkit-box-shadow: inset 0 0 12px 5px #696969;
	height: 100%;
	width: 100%;
}

/* my notebook headline */
.cover h1 {
	margin-top: 30px;
	font-family: 'GFS Didot', serif;
	font-size: 100px;
	text-align: center;
	color: #2c353d;
}

/* #1e282e - darker blue */
/* background: #143b51; */
body {
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #042166));
	font-family: 'GFS Didot', serif;

}

form {
	display: block;
	margin: 0 auto;
	margin-top: 140px;
	width: 300px;
}

#name {
	width: 220px;
	height: 40px;
	font-size: 20px;
	background: #f7f7f7;
	box-shadow: inset 0 0 5px 2px #cecccc;
	border-radius: 5px;
	border: none;
}

input::-webkit-input-placeholder,::-moz-input-placeholder {
	font-size: 13px;
}

#information {
  margin: 5px auto;
  width: 300px;
}

.error {
  background-color: #F2DEDE;
  border: 2px solid #FF0000;
  padding: 10px;
  color: #B94A48;
}
.error p {
  margin: 5px;
}

#go {
	border-radius: 3px;
	color: white;
	font-size: 16px;
	border: 0px;
	margin: 0px;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	background-color: #5f95ea;
	text-shadow: 1px 1px 1px #000;
	box-shadow: 0 0 3px #696
}

#go:hover{
	box-shadow: 1px 1px 2px 1px #636363;
}
