.cover {
  padding: 5px;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 12px 1px #696969;
  -moz-box-shadow: inset 0 0 12px 1px #696969;
  -webkit-box-shadow: inset 0 0 12px 1px #696969;
  height: 100%;
  width: 80%;
  text-align: center;
  margin: 0 auto; 
}

/* my notebook headline */
.cover h1 {
  margin-top: 30px;
  font-family: 'GFS Didot', serif;
  font-size: 90px;
  text-align: center;
  color: #2c353d;
  text-shadow: 0px 1px 2px #fff;
}

/* #1e282e - darker blue */
/* background: #143b51; */
body {
	background-color: #BF4C40;
  font-family: 'GFS Didot', serif;
  text-align: center;
}

#note {
	border-radius: 15px;
	padding: 10px;
	display: block;
	margin: 0 auto;
  margin-top: 12px;
	width: 300px;
	height: 200px;
	border: 2px solid #e3e6ea;
	background: #fcfcfc;
  position: relative;
}

#link,#tag {
	outline: none;
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #696969;
}

textarea {
	margin-top: 5px;
	padding: 0px;
	width: 100%;
	height: 120px;
	resize: none;
	border: none;
	overflow: auto;
}

#submit-entry {
  position: absolute;
  margin-top: 10px;
  width: 32px;
  height: 32px;
  right: 10px;
  bottom: 10px;
  opacity: 0.4;
}

#information {
  margin: 5px auto;
  width: 300px;
}
.error {
  background-color: #F2DEDE;
  border: 2px solid #d58a8a;
  padding: 10px;
  color: #B94A48;
}
.error p {
  margin: 5px;
}
.success {
  background-color: #DFF0D8;
  border: 2px solid #468847;
  padding: 10px;
  color: green;
}


#tag-graph {
	margin: 0 auto;
	width: 400px;
	height: 300px;
	padding: 30px;
}

canvas {
	border: 2px solid #f9f9f9;
  border-radius: 15px;
}


/* Modal dialog */
#spotlight {
  background: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 100;
  display: none;
}

#wrapper {
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#stage-newNotebook {
  box-shadow: 0 0 20px #000000;
  margin-left: 25%;
  background-color: #FFFFFF;
  width: 50%;
}

#stage-newNotebook h2 {
  background-color: #042166;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 32px;
  padding: 10px;
}

#stage-newNotebook p {
  padding: 20px;
  font-size: 18px;
}

#cancel-new {
  background: #DD3636;
  padding: 10px 20px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
}

#create-new {
  background: #5DB95D;
  padding: 10px 20px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
}

#go {
  display: inline-block;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  border: 0px;
  margin-left: 10px;
  width: 47px;
  height: 47px;
  background-image: url('img/search.png');
  text-shadow: 1px 1px 1px #000;
  box-shadow: 0 0 3px #696
}

#go:hover{
  box-shadow: 1px 1px 2px 1px #636363;
}

#search {
  display: inline;
  width: 220px;
  height: 47px;
  font-size: 20px;
  background: #f7f7f7;
  box-shadow: inset 0 0 5px 2px #cecccc;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-left: 70px;
}

input::-webkit-input-placeholder,::-moz-input-placeholder {
  font-size: 13px;
}


footer {
  position: absolute;
  bottom: 8px;
  height: 20px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #c6c2c2;
}
