.cover {
  width: 1200px;
  padding-bottom: 50px;
}

img {
  float: left;
  margin-left: 35px;
}

.rest {
  clear: left;
}

#notebook-name {
  float: right;
  margin: 40px;
  font-family: 'Futura', Verdana, Sans-Serif;
  font-size: 30px;
}


#search-form, #addarea {
  display: inline-block;
  margin-top: 40px;
  padding-top: 40px;
  min-height: 600px;
  width: 590px;
}


#addarea {
  float: left;
}

#search-form{
  float: right;
  border-left: 1px solid #c3c7cc;
}

#edit-note,#note {
	border-radius: 15px;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px 1px #cecccc;
	padding: 10px;
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 300px;
	border: 2px solid #e3e6ea;
  position: relative;
}

.entry {
  background: white;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 500px;
  box-shadow: inset 0 0 4px 1px #cecccc;
  border-bottom: 2px solid rgb(223, 217, 217);
  position: relative;
}

/* date placement */
.entry span {
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 8px;
  padding:5px;
}

.entry h3, p, .operations {
  padding: 10px;
  margin: 10px 0px;
}

.entry h3 a {
  color: #859ce6;
  margin-top: 20px;
}

.entry h3 a:hover, .edit:hover, .delete:hover {
  color: #0050bf;
}

.entry p.tags {
  margin-top: 10px;
  margin-bottom: 0px;
  border-top: 2px solid rgb(223, 217, 217);
}

.entry .operations {
  border-top: 2px solid rgb(223, 217, 217);
  margin-bottom: 5px;
}

.edit, .delete {
  color: #859ce6;
  font-size: 16px;
}

.delete {
  margin-left: 10px;
}




#edit-link,#link,#edit-tag,#tag {
  background-color: inherit;
	width: 100%;
	height: 40px;
  border:none;
  margin-bottom: 4px;
	border-bottom: 1px solid #e0e1e2;
  font-size: 15px;
  color: #373535;
  font-family: 'Muli', sans-serif;
}


#edit-link,#link {
  text-decoration: underline;
  color: #859ce6;
}

#edit-link, #link:hover{
  color: #0050bf;
}

textarea {
  overflow: scroll;
  font-size: 15px;
  background-color: inherit;
	margin-top: 5px;
	padding: 0px;
	width: 100%;
	height: 140px;
	resize: none;
	border: none;
	overflow: auto;
  border-radius: 5px;
}

#edit-entry,#submit-entry {
  position: absolute;
  margin-top: 10px;
  width: 32px;
  height: 32px;
  right: 10px;
  bottom: 10px;
  opacity: 0.4;
}

#edit-info,#information {
  margin: 5px auto;
  width: 400px;
}

.error {
  background-color: #F2DEDE;
  border: 2px solid #d58a8a;
  padding: 10px;
  color: #B94A48;
}

.error span {
  margin: 5px;
  display: block;
}

.success {
  background-color: #DFF0D8;
  border: 2px solid #468847;
  padding: 10px;
  color: green;
}
.success span {
  margin: 5px;
  display: block;
}

#tag-graph {
	margin: 0 auto;
	width: 400px;
	height: 300px;
	padding: 30px;
}

canvas {
	border: 2px solid #f9f9f9;
  border-radius: 15px;
}


/* Modal dialog */
#spotlight {
  background: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 100;
  display: none;
}

#wrapper {
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#stage-edit,#stage-del {
  box-shadow: 0 0 20px #000000;
  margin-left: 35%;
  background-color: #FFFFFF;
  width: 35%;
  min-width: 450px;
}

#stage-edit h2, #stage-del h2 {
  background-color: #005fbc;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 32px;
  padding: 10px;
}


#cancel-del {
  background: #DD3636;
  padding: 10px 20px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
}

#confirm-del {
  background: #5DB95D;
  padding: 10px 20px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
}

button {
  background-image: url('search.png');
  border-radius: 3px;
  color: white;
  font-size: 16px;
  border: 0px;
  margin-left: 9px;
  margin-bottom: 7px;
  vertical-align: middle;
  text-align: center;
  background-color: #5f95ea;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 0 0 3px #696;
  width: 48px;
  height: 48px;
  }

button:hover{
  box-shadow: 1px 1px 2px 2px #636363;
}

#search {
  display: inline;
  width: 340px;
  height: 47px;
  font-size: 20px;
  background: #f7f7f7;
  box-shadow: inset 0 0 5px 2px #cecccc;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  margin-top: 10px;
}



#entries {
    text-align: left;
    font-size: 16px;
    margin-top: 40px;
}

#entries .no-entry-msg {
    text-align: center;
    font-size: 18px;
}

#entries .hint {
    text-align: center;
    font-size: 16px;
}

footer {
  position: relative;
  height: 20px;
  margin: 10px auto 0px auto;
  width: 80%;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #c6c2c2;
}

#entries-container {
  margin-top: 50px;
  margin-bottom: 0px;
}




#sort-by a:hover{
  box-shadow: 1px 1px 2px 2px #636363;
}

#sort-by:active{
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#sort-by a.selected {
    text-decoration: underline;
}

#sort-by a {
  display: inline-block;
  width: 120px;
  height: 20px;
  border-radius: 3px;
  background-color: #0064cd;
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  text-shadow: 1px 1px 1px #000;
  box-shadow: 0 0 3px #696;
  padding: 10px;

  color: #f7f7f7;
  text-decoration: none;

}
